.sidebar-minimize {
    padding: 14px;
}

.sidebar {
    width: 100%;
    position: absolute;
    top: 170px;
}

.sidebar-item-container {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    padding-left: 20px;
}

.sidebar-condensed .sidebar-item-container {
    padding-left: 0px;
}

.sidebar-title {
    color: #838489;
    padding-top: 15px;
    padding-left: 20px;
    font-weight: 600;
}

.sidebar-condensed .sidebar-title {
    display: none;
}

.sidebar-item-container button>div>div {
    display: none;
}

.sidebar-condensed .sidebar-item-container button>div>div {
    display: block;
}

.sidebar-chosen {
    background-color: #2b2c31;
}

.sidebar-chosen .sidebar-title {
    color: #ffffff;
}

.sidebar-chosen svg {
    fill: #ffffff !important;
}

.sidebar-custom {
    background-color: #33363d !important;
}

.sidebar-custom hr {
    margin-left: 10px !important;
}

.sidebar-condensed .sidebar-custom hr {
    margin-left: 0px !important;
}

/* Sidebar tooltip */

.sidebar-tooltip {
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: 500;
    white-space: nowrap;
    background-color: transparent;
    padding: 0 16px;
}

