.sidebar-minimize {
    padding: 14px;
}

.sidebar-device {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

/* Sidebar tooltip */

.sidebar-tooltip {
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: 500;
    white-space: nowrap;
    background-color: transparent;
    padding: 0 16px;
}