.sidebar-minimize {
    padding: 14px;
}

/* Sidebar tooltip */

.sidebar-tooltip {
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: 500;
    white-space: nowrap;
    background-color: transparent;
    padding: 0 16px;
}