.Select-control {
    height: 34px;
}

.Select-input {
    height: 32px;
}

.Select-menu-outer {
    z-index: 2;
}

.Select-menu-outer {
    left: 0;
}

.Select--multi .Select-input{
    outline: 0;
}
