.griddle table {
    margin: 0;
}

.griddle .table>tbody+tbody {
    border: none;
}

.griddle .footer-container {
    display: none;
}

.griddle th {
    background-color: white;
}

.griddle .table>tbody>tr>td {
    vertical-align: middle;
    word-break: break-all;
    padding: 8px 10px;
}

.griddle .table>tbody>tr.selected>td {
    background: lightgray;
}

.griddle-container {
    border: none;
}