body {
    width: 100%;

    margin: 0;
    padding: 0;
    background-color: #e6e8ea;
    font-size: 13px;
}
.navbar {
    padding: 0;
}

.page-content {
    background: #E6E8EC;
}

.mb-none{
    margin-bottom: 0!important;
}

.ml-none{
    margin-left: 0!important;
}

.mr-none{
    margin-right: 0!important;
}

.mt-none {
    margin-top: 0!important;
}
.m-none {
    margin: 0!important;
}

.p-none {
    padding: 0!important;
}

.pl-none {
    padding-left: 0!important;
}

.pr-none {
    padding-right: 0!important;
}

.pt-none {
    padding-top: 0!important;
}

.pb-none {
    padding-bottom: 0!important;
}
.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-bold {
    font-weight: bold;
}

.bt-gray {
    border-bottom: 1px solid lightgray;
}

.option i{
    font-size: 20px;
    width: 30px;
    padding-left: 10px;
    color: gray;
    float: left;
}
.option.option-active i{
    color: green;
}

a, a:focus, a:hover {
    outline: 0;
    text-decoration: none;
}

.control-label {
    padding-top: 8px;
}

.fa-x {
    font-size: 22px;
}
.inline-block {
    display: inline-block;
    position: relative;
}
.inline {
    display: inline;
    position: relative;
}

/* Dropdown */

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    padding: 8px 0;
    margin: 0;
}

.dropdown-menu>li>a {
    margin: 1px 4px;
}

/* Panel */

.panel.panel-noborder {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
    margin-bottom: 0;
}
.header-red {
    background: #E64A4E;
    padding: 10px;
    color: white;
}
.header-green {
    background: #90C34E;
    padding: 10px;
    color: white;
}

.header-blue {
    background: #3A94F6;
    padding: 10px;
    color: white;
}

/* Color picker */
.colorpicker-element{
    display: inline-block;
    width: 30px;
    float: left;
    margin-left: 5px;
}

.colorpicker-element .input-group-addon {
    background-color: transparent;
    border: 1px solid black;
    padding: 2px;
}

.colorpicker-element .input-group-addon i,
.colorpicker-element .add-on i {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    cursor: pointer;
}

/* File Input */
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

/* Flex layout */

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-1,
.flex-vertical > .tab-content {
    flex: 1;
    position: relative;
}

/* Misc */
.icon-black {
    background: black;
    border: 1px solid black;
}

.form-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

.form-column-shift > div:first-child {
    flex-basis: 100px;
}

.form-buttons {
    text-align: right;
}

.form-buttons > div {
    margin-left: 20px;
}

.form-mui-inline > div{
    vertical-align: middle;
}

.form-column>div {
  width:100% !important;
}

.form-buttons button:hover {
  background-color: #d7d8d9 !important;
}

.close-block {
  margin-top: 20px;
}

.alert-buttons {
  padding-right: 15px;
}

.upload-file {
  position: relative;
  cursor: pointer !important;
}

.upload-file input {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16pt;
  opacity: 0;
  cursor: pointer !important;
}

.images-list {
  background-color: #000000;
}

.image-upload-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image-upload-container img {
  margin-left: 20px;
}

.search-modal-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.crud-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.crud-buttons button {
  padding: 0 !important;
}

.add-button svg:hover {
  fill: #8bc34a !important;
}

.edit-button svg:hover {
  fill: #2196f3 !important;
}

.remove-button svg:hover {
  fill: #f44336 !important;
}

.control-label>div>div {
  align-items: center;
}

.control-label>div>div>label {
  width: calc(100% - 40px) !important;
}
.image-container {
  position: relative;
  height: 100px;
}

.image-container img {
  height: auto;
  width: auto;
  position: absolute;
  top: 0;
  left: 10px;
  max-width: 300px;
  max-height: 100px;
}

/* Field Item */
.field-item.selected {
    background: lightgray;
}

.field-key {
    color: gray;
    font-size: 11px;
}

.field-value {
    color: black;
    font-size: 12px;
}

.field-separator {
    height: 16px;
    width: 1px;
    border-left: 1px dashed gray;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
}

/* Autocomplete styles */
.autocomplete-wrapper {
  width: 100%;
  position: relative;
}

.autocomplete-wrapper > div {
  width: 100%;
}

.autocomplete-wrapper > div > input{
  width: 95%;
  border-width: 0px 0px 1px;
  outline: none;
}

/* Progress */
.progress {
    margin-bottom: 0;
}

.centered {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.v-centered {
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
}

/* Misc */

.panel-group {
    overflow: auto;
}