body {
    width: 100%;

    margin: 0;
    padding: 0;
    background-color: #e6e8ea;
    font-size: 13px;
}
.navbar {
    padding: 0;
}

.page-content {
    background: #E6E8EC;
}

.mb-none{
    margin-bottom: 0!important;
}

.ml-none{
    margin-left: 0!important;
}

.mt-none {
    margin-top: 0!important;
}
.m-none {
    margin: 0!important;
}

.p-none {
    padding: 0!important;
}

.pl-none {
    padding-left: 0!important;
}

.pr-none {
    padding-right: 0!important;
}

.pt-none {
    padding-top: 0!important;
}

.pb-none {
    padding-bottom: 0!important;
}

.margin-2x-bottom {
    margin-bottom: 42px;
}

.nowrap {
    white-space: nowrap;
}

.text-white {
    color: white;
}

.text-black {
    color: black;
}

.text-bold {
    font-weight: bold;
}

.bt-gray {
    border-bottom: 1px solid lightgray;
}

.option i{
    font-size: 20px;
    width: 30px;
    padding-left: 10px;
    color: gray;
    float: left;
}
.option.option-active i{
    color: green;
}

.noborder {
    border: none;
}

a, a:focus, a:hover {
    outline: 0;
    text-decoration: none;
}

.control-label {
    padding-top: 8px;
}

.fa-x {
    font-size: 22px;
}
.inline-block {
    display: inline-block;
    position: relative;
}
.inline {
    display: inline;
    position: relative;
}

.input-underlined {
    border: none;
    border-bottom: 1px solid gray;
    outline: 0;
}

.select-noborder {
    border: none;
    outline: 0;
    background: transparent;
}

table.table tbody tr.selected {
    background-color: #C7DEFC;
}

.table.table-p-sm>tbody>tr>td,
.table.table-p-sm>tbody>tr>th,
.table.table-p-sm>tfoot>tr>td,
.table.table-p-sm>tfoot>tr>th,
.table.table-p-sm>thead>tr>td,
.table.table-p-sm>thead>tr>th {
    padding: 4px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

/* Dropdown */

.dropdown:hover>.dropdown-menu {
    display: block;
}

.dropdown-menu {
    padding: 8px 0;
    margin: 0;
}

.dropdown-menu>li>a {
    margin: 1px 4px;
}
/* Sub Page */

.tab-header {
    min-height: 81px;
    position: relative;
    margin: 16px 24px 0;
}

.tab-title {
    font-size: 20px;
    color: rgb(84, 105, 141);
    text-transform: uppercase;
}

.tab-header .btn-group button,
.tab-header .dropdown-menu>li>a{
    color: #428bca;
}

.tabs-custom .nav-tabs {
    background: transparent;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
}

.tabs-custom .nav-tabs>li {
  padding-left: 14px;
  padding-right: 14px;
}

.tabs-custom .nav-tabs>li>a {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.tabs-custom .nav-tabs>li.active>a,
.tabs-custom .nav-tabs>li.active>a:hover,
.tabs-custom .nav-tabs>li.active>a:focus {
    background-color: transparent;
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom: 4px solid;
    border-color: #78a8ca;
}

.tabs-custom{
    padding: 0;
}

.tabs-custom .tab-content {
    margin-bottom: 0;
    overflow: auto;
}

/* Panel */

.panel.panel-noborder {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,.05);
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
    margin-bottom: 0;
}
.header-red {
    background: #E64A4E;
    padding: 10px;
    color: white;
}
.header-green {
    background: #90C34E;
    padding: 10px;
    color: white;
}

.header-blue {
    background: #3A94F6;
    padding: 10px;
    color: white;
}

/*Table column size */

.width-40 {
    width: 40px;
}

.width-60 {
    width: 60px;
}

.width-80 {
    width: 80px;
}

.width-100 {
    width: 100px;
}

.width-120 {
    width: 120px;
}

.width-140 {
    width: 140px;
}

.width-160 {
    width: 160px;
}

.width-180 {
    width: 180px;
}

.width-200 {
    width: 200px;
}

.width-220 {
    width: 220px;
}

.width-280 {
  width: 280px;
}

.width-300 {
    width: 300px;
}

.width-500 {
  width: 500px;
}

.width-530 {
  width: 530px;
}

.width-600 {
  width: 600px;
}

.width-620 {
  width: 620px;
}

.width-750 {
  width: 750px;
}

.width-800 {
  width: 800px;
}

/* Color picker */
.colorpicker-element{
    display: inline-block;
    width: 30px;
    float: left;
    margin-left: 5px;
}

.colorpicker-element .input-group-addon {
    background-color: transparent;
    border: 1px solid black;
    padding: 2px;
}

.colorpicker-element .input-group-addon i,
.colorpicker-element .add-on i {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    cursor: pointer;
}

/* File Input */
.fileinput-button {
    position: relative;
    overflow: hidden;
    display: inline-block;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}

/* Flex layout */

.flex-vertical {
    display: flex;
    flex-direction: column;
}

.flex-horizontal {
    display: flex;
    flex-direction: row;
}

.flex-1,
.flex-vertical > .tab-content {
    flex: 1;
    position: relative;
}

/* Search */
.highlight {
    background-color: yellow;
}

/* Modal */
.modal-w-9 .modal-dialog {
    width: 900px;
}

.modal-w-10 .modal-dialog {
    width: 1000px;
}

.modal-w-fit .modal-dialog {
    width: 100%;
}
.modal-w-wrap .modal-dialog {
    width: initial;
}

.img-input {
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.img-input img {
    width: 100%;
}

.img-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
    bottom: 0;
}

/* Alert */
.alert-incident{
    position: fixed;
    bottom: 5px;
    margin-bottom: 0;
    left: 50%;
    min-width: 62%;
    transform: translate(-50%, 0);

    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;

    z-index: 61;

    font-size: 18px;
}

/* Tooltip */
.tt-workflow {
    min-width: 250px !important;
    white-space: nowrap;
}

/* Misc */
.icon-black {
    background: black;
    border: 1px solid black;
}

.material-selector {
    padding: 0px;
}

.material-selector button {
    width: 34px !important;
    height: 34px !important;
    padding: 0px !important;
}

.form-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
}

.form-column-shift > div:first-child {
    flex-basis: 100px;
}

.form-buttons {
    text-align: right;
}

.form-buttons > div {
    margin-left: 20px;
}

.form-mui-inline > div{
    vertical-align: middle;
}

.searchbar-container {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
}

.searchbar {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.searchbar-input {
    width: 80%;
    border: 0;
    outline-width: 0;
}

.map-toolbar {
  background-color: #333333 !important;
  border: 0px !important;
}

.toolbar-options {
  right: 5px !important;
}

.incident-button-value {
    font-size: 24pt;
    margin-left: 10px;
    margin-right: 4px;
    float: left;
}

.metric-container {
    display: inline-block;
    justify-content: center;
    width: 25%;
}

.metric-panel {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.topbar-message {
  display: flex;
  justify-content: flex-start;
}

.message-avatar {
  display: flex;
  align-items: center;
}

.message-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  line-height: 16px;
  word-wrap: break-word;
}

.message-text div {
  max-width: 350px;
}

.inner-text {
  white-space: normal;
}

.message-time {
  padding-left: 15px;
}

.see-all-messages:hover {
  background-color: #b8b7b7 !important;
}

.see-all-messages:hover svg path, .see-all-messages:hover {
  fill: #ffffff !important;
  color: #ffffff !important;
}

.see-all-messages>div>div {
  padding-left: 50px !important;
}

.sidebar-item-container {
  display: flex;
  justify-content: flex-start;
  cursor: pointer;
  padding-left: 20px;
}

.sidebar-condensed .sidebar-item-container {
  padding-left: 0px;
}

.sidebar-title {
  color: #838489;
  padding-top: 15px;
  padding-left: 20px;
  font-weight: 600;
}

.sidebar-condensed .sidebar-title {
  display: none;
}

.sidebar-item-container button>div>div {
  display: none;
}

.sidebar-condensed .sidebar-item-container button>div>div {
  display: block;
}

.sidebar-chosen {
  background-color: #2b2c31;
}

.sidebar-chosen .sidebar-title {
  color: #ffffff;
}

.sidebar-chosen svg {
  fill: #ffffff !important;
}

#main-navigation {
  padding-top: 30px;
}

.sidebar-custom {
  background-color: #33363d !important;
}

.sidebar-custom hr {
  margin-left: 10px !important;
}

.sidebar-condensed .sidebar-custom hr {
  margin-left: 0px !important;
}

.tab-container {
  display: flex;
  justify-content: flex-start;
  height: 50px !important;
}

.tab-container>div {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 120px;
  cursor: pointer;
}

.tab-container>div>div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.tab-label {
  padding-top: 10px;
}

.tab-blank {
  width: 100%;
  height: 8px;
}

.tab-chosen {
  width: 100%;
  height: 4px;
  background-color: #78a8ca;
  border-radius: 15%;
}

.modal-dialog th,
.modal-dialog th>span {
  font-size: 9pt;
}

.modal-dialog td,
.modal-dialog td>span {
  font-size: 9pt;
  color: #939395 !important;
}

.main-panel {
  margin-top: 5px;
}

.table-icons-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.table-panel th>span,
.table-panel th>a>span {
  font-size: 12pt;
  color: #939395 !important;
}

.main-panel th>span {
  font-size: 14pt;
}

.main-panel td,
.main-panel td>span {
  font-size: 12pt;
  color: #939395 !important;
}

.table-panel td,
.table-panel td>span {
  font-size: 11pt;
  color: #939395 !important;
}

.table-panel img {
  margin-right: 5px;
  cursor: pointer;
}

.small-modal-table th>span {
  font-size: 9pt;
  color: #939395 !important;
}

.small-modal-table td,
.small-modal-table td>span {
  font-size: 8pt;
  color: #939395 !important;
}

.small-table .griddle-body>div {
  height: 100% !important;
  overflow-y: auto !important;
}

.object-table .table>tbody>tr>td {
  word-break: break-all;
}

.main-incident-toggle {
  position: absolute;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 3;
}

.main-incident-toggle svg {
  fill: #939395 !important;
}

.form-column>div {
  width:100% !important;
}

.modal-header h4 {
  display: inline-block;
}

.form-buttons button:hover {
  background-color: #d7d8d9 !important;
}

.close-block {
  margin-top: 20px;
}

.alert-buttons {
  padding-right: 15px;
}

.text-plus-icon {
  display: flex;
  justify-content: flex-start;
  height: 50px !important;
}

.text-plus-icon button {
  padding: 0 !important;
}

.text-plus-icon svg:hover {
  fill: #f44336 !important;
}

.upload-file {
  position: relative;
  cursor: pointer !important;
}

.upload-file input {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16pt;
  opacity: 0;
  cursor: pointer !important;
}

.images-list {
  background-color: #000000;
}

.image-upload-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image-upload-container img {
  margin-left: 20px;
}

.search-modal-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wizard-step-1 {
  width: 90%;
}

.wizard-step-1-container {
  position: relative;
}

.wizard-step-1-help {
  position: absolute;
  top: 135px;
  right: 5px;
}

.wizard-step-1-add {
  position: absolute;
  top: 180px;
  right: 5px;
}

.crud-buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.crud-buttons button {
  padding: 0 !important;
}

.add-button svg:hover {
  fill: #8bc34a !important;
}

.edit-button svg:hover {
  fill: #2196f3 !important;
}

.remove-button svg:hover {
  fill: #f44336 !important;
}

.wizard-diagram-choice {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.wizard-diagram-choice button:hover {
  background-color: #d7d8d9 !important;
}

.wizard-input>div>div {
  width: 100% !important;
}

.device-wizard-container {
  display: flex;
}

.tab-content>.active {
  display: flex !important;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.tab-content>.active>div {
  width: 100%;
}

.tab-content>.hidden {
  display: none;
}

.control-label>div>div {
  align-items: center;
}

.control-label>div>div>label {
  width: calc(100% - 40px) !important;
}

.monitors-wizard-crud {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.image-container {
  position: relative;
  height: 100px;
}

.image-uploader {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100px;
  margin-left: -80px;
  z-index: 2;
}

.image-container img {
  height: auto;
  width: auto;
  position: absolute;
  top: 0;
  left: 10px;
  max-width: 300px;
  max-height: 100px;
}

.dropzone-inner {
  position: absolute;
  top: 40%;
  left: 40%;
}

.flex-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-start > div {
  margin-right: 10px !important;
}

.search-wrapper {
  margin: 0;
}

.search-wrapper>div>div {
  background-color: #ffffff;
}
/* Field Item */
.field-item.selected {
    background: lightgray;
}

.field-key {
    color: gray;
    font-size: 11px;
}

.field-value {
    color: black;
    font-size: 12px;
}

.field-separator {
    height: 16px;
    width: 1px;
    border-left: 1px dashed gray;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
}

/* Device TPL Modal */
.modal-row {
  height: 49px;
  border-bottom: 1px solid #e0e2e4;
  z-index: 1 !important;
}

.modal-row:hover {
  background-color: #eff3f4 !important;
}

.modal-row>td {
  border-top: 0px !important;
}
.table-label {
  text-align: left;
  vertical-align: middle !important;
  font-size: 12pt !important;
  padding-left: 6px;
}

.table-icon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 !important;
}

.table-icon>div {
  display: flex;
  justify-content: flex-end;
}

.table-icon>div>button {
  padding: 0 !important;
  background-color: inherit !important;
}

.table-icon>div>button>div {
  z-index: 1 !important;
}

.subheader-wrapper>div>div {
  font-size: 12pt !important;
  padding-left: 0 !important;
  font-weight: 600 !important;
}

.modal-left {
  padding-left: 0 !important;
}

.modal-right {
  padding-right: 0 !important;
}

.d-none {
  display: none !important;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.padding-left-12 {
  padding-left: 12px;
}

/* Modal custom width */

.modal-800 > div {
  width: 800px !important;
}

.modal-700 > div {
  width: 700px !important;
}

.modal-750 > div {
  width: 750px !important;
}

.modal-600 > div {
  width: 600px !important;
}

/* Griddle header padding */
.griddle th {
  padding-left: 6px !important;
}

/* Header with cancel */
.header-with-cancel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Device search table */
.row-no-padding > td{
  padding: 0 !important;
}

/* Autocomplete styles */
.autocomplete-wrapper {
  width: 100%;
  position: relative;
}

.autocomplete-wrapper > div {
  width: 100%;
}

.autocomplete-wrapper > div > input{
  width: 95%;
  border-width: 0px 0px 1px;
  outline: none;
}

/* Device main incidents */
.gray-arrows svg {
  fill: #777777 !important;
}

.rangedp-wrapper {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  padding-right: 16px;
  height: 36px;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}


.redux-infinite-scroll {
    position: absolute;
    width: 100%;
    overflow: auto;
}

/* Progress */
.progress {
    margin-bottom: 0;
}

.centered {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.v-centered {
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
}

/* Misc */
