#main-navigation {
    padding-top: 30px;
}

.sidebar-minimize {
    padding: 14px;
}

.sidebar {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.sidebar-item-container {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
    padding-left: 20px;
}

.sidebar-condensed .sidebar-item-container {
    padding-left: 0px;
}

.sidebar-title {
    color: #838489;
    padding-top: 15px;
    padding-left: 20px;
    font-weight: 600;
}

.sidebar-condensed .sidebar-title {
    display: none;
}

.sidebar-item-container button>div>div {
    display: none;
}

.sidebar-condensed .sidebar-item-container button>div>div {
    display: block;
}

.sidebar-chosen {
    background-color: #2b2c31;
}

.sidebar-chosen .sidebar-title {
    color: #ffffff;
}

.sidebar-chosen svg {
    fill: #ffffff !important;
}

.sidebar-custom {
    background-color: #33363d !important;
}

.sidebar-custom hr {
    margin-left: 10px !important;
}

.sidebar-condensed .sidebar-custom hr {
    margin-left: 0px !important;
}
/* Sidebar tooltip */

.rc-tooltip-inner {
    padding: 0;
    position: absolute;
    width:140px;
    color: #FFFFFF;
    background: #000000;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 6px;
    box-shadow: -1px 0px 0px #800000;
}
.rc-tooltip-inner::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -8px;
    width: 0; height: 0;
    border-right: 8px solid #000000;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}
.rc-tooltip-content {
    margin-top: -9px;
    margin-left: 7px;
}

.sidebar-tooltip {
    position: absolute;
    top: 0px;
    left: 30px;
    z-index: 500;
    white-space: nowrap;
    background-color: transparent;
    padding: 0 16px;
}

/* Message view */
.topbar-message {
    display: flex;
    justify-content: flex-start;
}

.message-avatar {
    display: flex;
    align-items: center;
}

.message-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    line-height: 16px;
    word-wrap: break-word;
}

.message-text div {
    max-width: 350px;
}

.inner-text {
    white-space: normal;
}

.message-time {
    padding-left: 15px;
}

.see-all-messages:hover {
    background-color: #b8b7b7 !important;
}

.see-all-messages:hover svg path, .see-all-messages:hover {
    fill: #ffffff !important;
    color: #ffffff !important;
}

.see-all-messages>div>div {
    padding-left: 50px !important;
}


