#tabs-device-incidents.tabs-custom .nav-tabs{
    margin-top: 8px;
}

.diagram {
    overflow: hidden;
    position: relative;
}
.diagram .sidebar-item {
    display: inline-block;
    width: 25%;
    text-align: center;
}
.diagram .draw-panel {
    position: relative;
    min-height: 500px;
    border: 1px solid black;
    background: whitesmoke;
}

.diagram .toolbar-container {
    background: whiteSmoke;
    border-bottom: 1px solid #e0e0e0;
    overflow: hidden;
    cursor: default;

    height: 34px;
}